*{
  margin: 0;
  padding: 0;
  border: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  .box{
    width: 250px;
    img{
      width: 100%;
    }
  }
}
